body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #562A72;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav a:hover{
    color: #6f6f6f;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('images/hero.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #862D63;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.produtos {
    padding: 50px 20px;
    text-align: center;
}

.produtos h2 {
    margin-bottom: 40px;
}

.produtos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    width: 30%;
    margin-bottom: 20px;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h3 {
    margin: 10px 0;
}

.produto .preco {
    font-weight: bold;
    color: #ff6f61;
}

.sobre, .contato {
    padding: 50px 20px;
    text-align: center;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contato label {
    display: block;
    margin-bottom: 5px;
}

.contato input, .contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}